<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <title>Product Management</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
</head>

<body class="bg-light">

<div th:replace="layout/header :: header"></div>

<div class="container mt-4">
    <div class="card shadow">

        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Product Management</h4>
            <a href="/admin/products/add"
               class="btn btn-success btn-sm"
               sec:authorize="hasAuthority('MANAGE_PRODUCTS')">
                <i class="bi bi-plus-circle"></i> Add Product
            </a>
        </div>
        <div class="card-body">
            <!-- ALERT -->
            <div th:if="${param.success == 'added'}"
                 class="alert alert-success">
                Product added successfully
            </div>
            <div th:if="${param.success == 'updated'}"
                 class="alert alert-info">
                Product updated successfully
            </div>
            <div th:if="${param.success == 'deleted'}"
                 class="alert alert-warning">
                Product deleted
            </div>

            <!-- SEARCH -->
            <form method="get" th:action="@{/admin/products}" class="row mb-3">
                <div class="col-md-4">
                    <input type="text"
                           name="keyword"
                           th:value="${keyword}"
                           class="form-control"
                           placeholder="Search product name...">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary">
                        <i class="bi bi-search"></i> Search
                    </button>
                </div>
            </form>

            <!-- TABLE -->
            <div class="table-responsive">

                <table class="table table-hover align-middle">
                    <thead class="table-secondary">
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th class="text-center"
                            sec:authorize="hasAuthority('MANAGE_PRODUCTS')">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td>
                            <img th:src="${product.mainImageUrl}" width="60" class="rounded">
                        </td>
                        <td class="fw-bold"
                            th:text="${product.name}"></td>
                        <td th:text="${product.category != null ? product.category.name : 'N/A'}"></td>
                        <td th:text="${#numbers.formatDecimal(product.price,0,'COMMA',0,'POINT')} + ' $'"></td>
                        <td>
                            <span th:class="${product.status.name() == 'ACTIVE'} ?
                                   'badge bg-success' : 'badge bg-secondary'"
                                  th:text="${product.status}">
                            </span>
                        </td>

                        <!-- ACTION -->
                        <td class="text-center">
                            <div class="btn-group">
                                <a th:href="@{'/admin/products/edit/' + ${product.id}
                                    + '?keyword=' + ${keyword}
                                    + '&page=' + ${currentPage}}"
                                   class="btn btn-sm btn-outline-primary">
                                    <i class="bi bi-pencil"></i>
                                </a>

                                <form th:action="@{/admin/products/delete/{id}(id=${product.id},
                                keyword=${keyword}, page=${currentPage})}"
                                      method="post"
                                      style="display:inline"
                                      onsubmit="return confirm('Delete this product?')">

                                    <button class="btn btn-sm btn-outline-danger">
                                        <i class="bi bi-trash"></i>
                                    </button>

                                </form>

                                <form th:action="@{/admin/products/toggle/{id}(id=${product.id}, keyword=${keyword}, page=${currentPage})}"
                                      method="post"
                                      style="display:inline">
                                    <button type="submit"
                                            th:class="${product.status.name() == 'ACTIVE'} ?
                                            'btn btn-sm btn-outline-warning' :
                                            'btn btn-sm btn-outline-success'">
                                        <i th:class="${product.status.name() == 'ACTIVE'} ?
                                           'bi bi-toggle-on' : 'bi bi-toggle-off'"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- PAGINATION -->
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item"
                        th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/admin/products(page=${currentPage - 1},keyword=${keyword})}">
                            Previous
                        </a>
                    </li>

                    <li class="page-item"
                        th:each="i : ${#numbers.sequence(0,totalPages - 1)}"
                        th:classappend="${i == currentPage} ? 'active'">

                        <a class="page-link"
                           th:text="${i+1}"
                           th:href="@{/admin/products(page=${i},size=${size},keyword=${keyword})}">
                        </a>

                    </li>

                    <li class="page-item"
                        th:classappend="${currentPage+1 == totalPages} ? 'disabled'">

                        <a class="page-link"
                           th:href="@{/admin/products(page=${currentPage+1},keyword=${keyword})}">
                            Next
                        </a>

                    </li>

                </ul>
            </nav>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>