<div th:fragment="sidebar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

    <div class="sidebar">

        <a class="navbar-brand fw-bold d-flex align-items-center" href="/">
            <i class="bi bi-cpu-fill me-2 text-primary"></i>
            <span class="tracking-tight">HSF System</span>
        </a>

        <!-- COMMON -->
        <a th:href="@{/}"
           th:classappend="${currentUri == '/'} ? 'active'">
            <i class="bi bi-house"></i> Trang chủ
        </a>

        <!-- ADMIN -->
        <div sec:authorize="hasRole('ADMIN')">

            <div class="sidebar-title mt-3">ADMIN</div>

            <a th:href="@{/admin/dashboard}"
               th:classappend="${currentUri.startsWith('/admin/dashboard')} ? 'active'">
                <i class="bi bi-speedometer2"></i> Dashboard
            </a>

            <a th:href="@{/admin/users}"
               th:classappend="${currentUri.startsWith('/admin/users')} ? 'active'">
                <i class="bi bi-people"></i> Users
            </a>

            <a th:href="@{/admin/categories}"
               th:classappend="${currentUri.startsWith('/admin/categories')} ? 'active'">
                <i class="bi bi-grid"></i> Categories
            </a>

            <a th:href="@{/admin/products}"
               th:classappend="${currentUri.startsWith('/admin/products')} ? 'active'">
                <i class="bi bi-box-seam"></i> Products
            </a>

            <a th:href="@{/admin/roles}"
               th:classappend="${currentUri.startsWith('/admin/roles')} ? 'active'">
                <i class="bi bi-key"></i> Permissions
            </a>

            <a th:href="@{/admin/orders}"
               th:classappend="${currentUri.startsWith('/admin/orders')} ? 'active'">
                <i class="bi bi-receipt"></i> Orders
            </a>

        </div>

        <!-- USER -->
        <div sec:authorize="hasRole('USER')">
            <a th:href="@{/payment-request}"
               th:classappend="${currentUri.startsWith('/payment')} ? 'active'">
                <i class="bi bi-cart"></i> Nạp tiền
            </a>
            <a th:href="@{/buyer-products}"
               th:classappend="${currentUri.startsWith('/buyer-products')} ? 'active'">
                <i class="bi bi-bag"></i> Đi Chợ
            </a>

            <a th:href="@{/seller-products}"
               th:classappend="${currentUri.startsWith('/seller-products')} ? 'active'">
                <i class="bi bi-bag"></i> Đi Buôn
            </a>

            <a th:href="@{/cart}"
               th:classappend="${currentUri.startsWith('/cart')} ? 'active'">
                <i class="bi bi-cart"></i> Giỏ hàng
            </a>

            <a data-bs-toggle="collapse"
               href="#marketMenu"
               role="button"
               aria-expanded="true"
               class="d-flex justify-content-between align-items-center"
               th:classappend="${currentUri.startsWith('/market')} ? 'active'">

    <span>
        <i class="bi bi-arrow-left-right me-2"></i> Trung gian
    </span>
                <i class="bi bi-chevron-down"></i>
            </a>

            <div class="collapse show ps-4"
                 id="marketMenu"
                 th:classappend="${currentUri.startsWith('/market')} ? 'show'">

                <a th:href="@{/market}"
                   class="d-block py-2"
                   th:classappend="${currentUri == '/market'} ? 'active'">
                    <i class="bi bi-cart me-2"></i> Chợ công khai
                </a>

                <a th:href="@{/market/my-sell}"
                   class="d-block py-2"
                   th:classappend="${currentUri.startsWith('/market/my-sell')} ? 'active'">
                    <i class="bi bi-cart me-2"></i> Đơn bán của tôi
                </a>

                <a th:href="@{/market/my-buy}"
                   class="d-block py-2"
                   th:classappend="${currentUri.startsWith('/market/my-buy')} ? 'active'">
                    <i class="bi bi-cart me-2"></i> Đơn mua của tôi
                </a>

            </div>

        </div>

    </div>

</div>