<div th:fragment="sidebar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

    <div class="sidebar">

        <a class="navbar-brand fw-bold d-flex align-items-center" href="/">
            <i class="bi bi-cpu-fill me-2 text-primary"></i>
            <span class="tracking-tight">HSF System</span>
        </a>

        <!-- COMMON -->
        <a th:href="@{/}"
           th:classappend="${currentUri == '/'} ? 'active'">
            <i class="bi bi-house"></i> Home
        </a>

        <!-- ADMIN -->
        <div sec:authorize="hasRole('ADMIN')">

            <div class="sidebar-title mt-3">ADMIN</div>

            <a th:href="@{/admin/dashboard}"
               th:classappend="${currentUri.startsWith('/admin/dashboard')} ? 'active'">
                <i class="bi bi-speedometer2"></i> Dashboard
            </a>

            <a th:href="@{/admin/users}"
               th:classappend="${currentUri.startsWith('/admin/users')} ? 'active'">
                <i class="bi bi-people"></i> Users
            </a>

            <a th:href="@{/admin/categories}"
               th:classappend="${currentUri.startsWith('/admin/categories')} ? 'active'">
                <i class="bi bi-grid"></i> Categories
            </a>

            <a th:href="@{/admin/products}"
               th:classappend="${currentUri.startsWith('/admin/products')} ? 'active'">
                <i class="bi bi-box-seam"></i> Products
            </a>

            <a th:href="@{/admin/roles}"
               th:classappend="${currentUri.startsWith('/admin/roles')} ? 'active'">
                <i class="bi bi-key"></i> Permissions
            </a>

            <a class="d-flex justify-content-between align-items-center"
               data-bs-toggle="collapse"
               href="#marketMenu"
               role="button"
               aria-expanded="false"
               aria-controls="marketMenu"
               th:classappend="${currentUri.startsWith('/buyer-products') or currentUri.startsWith('/cart') or currentUri.startsWith('/market/my-sell') or currentUri.startsWith('/market/my-buy')} ? 'active'">
                <span><i class="bi bi-bag me-2"></i> Market</span>
                <i class="bi bi-chevron-down"></i>
            </a>

            <div class="collapse ps-4"
                 id="marketMenu"
                 th:classappend="${currentUri.startsWith('/buyer-products') or currentUri.startsWith('/cart') or currentUri.startsWith('/market/my-sell') or currentUri.startsWith('/market/my-buy')} ? 'show'">

                <!-- Default Market page (List product) -->
                <a th:href="@{/buyer-products}" class="d-block py-2"
                   th:classappend="${currentUri.startsWith('/buyer-products')} ? 'active'">
                    <i class="bi bi-list-ul me-2"></i> Product List
                </a>

                <!-- Cart -->
                <a th:href="@{/cart}" class="d-block py-2"
                   th:classappend="${currentUri.startsWith('/cart')} ? 'active'">
                    <i class="bi bi-cart me-2"></i> Cart
                </a>

                <!-- History -->
                <a th:href="@{/market/order-history}" class="d-block py-2"
                   th:classappend="${currentUri.startsWith('/market/order-history')} ? 'active'">
                    <i class="bi bi-cart me-2"></i> Orders History
                </a>

                <!-- Buyer Intermediary Orders -->
                <a th:href="@{/market/my-buy}" class="d-block py-2"
                   th:classappend="${currentUri.startsWith('/market/my-buy')} ? 'active'">
                    <i class="bi bi-cart me-2"></i> Buyer Intermediary Orders
                </a>
            </div>
            <a th:href="@{/seller-products}"
               th:classappend="${currentUri.startsWith('/seller-products')} ? 'active'">
                <i class="bi bi-bag"></i> Business
            </a>

        </div>

        <div sec:authorize="hasRole('USER')">

            <!-- Deposit -->
            <a th:href="@{/payment-request}"
               th:classappend="${currentUri.startsWith('/payment')} ? 'active'">
                <i class="bi bi-cart"></i> Deposit
            </a>

            <a class="d-flex justify-content-between align-items-center"
               data-bs-toggle="collapse"
               href="#marketMenu"
               role="button"
               aria-expanded="false"
               aria-controls="marketMenu"
               th:classappend="${currentUri.startsWith('/buyer-products') or currentUri.startsWith('/cart') or currentUri.startsWith('/market/my-sell') or currentUri.startsWith('/market/my-buy')} ? 'active'">
                <span><i class="bi bi-bag me-2"></i> Market</span>
                <i class="bi bi-chevron-down"></i>
            </a>

            <div class="collapse ps-4"
                 id="marketMenu"
                 th:classappend="${currentUri.startsWith('/buyer-products') or currentUri.startsWith('/cart') or currentUri.startsWith('/market/my-sell') or currentUri.startsWith('/market/my-buy')} ? 'show'">

                <!-- Default Market page (List product) -->
                <a th:href="@{/buyer-products}" class="d-block py-2"
                   th:classappend="${currentUri.startsWith('/buyer-products')} ? 'active'">
                    <i class="bi bi-list-ul me-2"></i> Product List
                </a>

                <!-- Cart -->
                <a th:href="@{/cart}" class="d-block py-2"
                   th:classappend="${currentUri.startsWith('/cart')} ? 'active'">
                    <i class="bi bi-cart me-2"></i> Cart
                </a>

                <!-- History -->
                <a th:href="@{/market/order-history}" class="d-block py-2"
                   th:classappend="${currentUri.startsWith('/market/order-history')} ? 'active'">
                    <i class="bi bi-cart me-2"></i> Orders History
                </a>

                <!-- Buyer Intermediary Orders -->
                <a th:href="@{/intermediary/my-buy}"
                class="d-block py-2"
                th:classappend="${currentUri.startsWith('/intermediary/my-buy')} ? 'active'">
                <i class="bi bi-cart me-2"></i> Buyer Intermediary Orders
                </a>
            </div>
        <!-- Business -->
        <a th:href="@{/seller-products}"
           th:classappend="${currentUri.startsWith('/seller-products')} ? 'active'">
            <i class="bi bi-bag"></i> Business
        </a>

        <!-- Custom Menu (giữ nguyên để tự sửa) -->
        <a data-bs-toggle="collapse"
           href="#customMenu"
           role="button"
           aria-expanded="false"
           class="d-flex justify-content-between align-items-center"
           th:classappend="${currentUri.startsWith('/custom')} ? 'active'">

        <span>
            <i class="bi bi-menu-button-wide me-2"></i> Intermediary
        </span>
            <i class="bi bi-chevron-down"></i>
        </a>

        <div class="collapse ps-4"
             id="customMenu"
             th:classappend="${currentUri.startsWith('/custom')} ? 'show'">

            <a th:href="@{/intermediary/list}"
               class="d-block py-2"
               th:classappend="${currentUri.startsWith('/intermediary')} ? 'active'">
                <i class="bi bi-file-earmark-text me-2"></i> Intermediary Orders
            </a>

            <a th:href="@{/intermediary/my-buy}"
            class="d-block py-2"
            th:classappend="${currentUri.startsWith('/intermediary/my-buy')} ? 'active'">
            <i class="bi bi-cart me-2"></i> Buyer Intermediary Orders
            </a>

        </div>

    </div>

    </div>